**/target/
**/node_modules/
**/dist/
**/.angular/
**/.idea/
**/.vscode/
**/.classpath
**/.project
**/.settings/
*.iml
*.log
.DS_Store
apps/school-ui/.angular/
pgdata/
logs/
build-out.txt
**/startup.out
**/startup.err
